<style >

#slider {
    overflow: hidden;
    width: 100%;
}


#slider figure {
    position: relative;
    width: 500%; /* 5 pic */
    margin: 0;
    left: 0;
    animation: 15s slider infinite;
}

    
    #slider figure img {
        width: 20%; 
        float: left;
        height: 400px;
        object-fit: cover;
    }


@keyframes slider {
    0%, 10% {
        left: 0;
    }

    20%, 30% {
        left: -100%;
    }

    40%, 50% {
        left: -200%;
    }

    60%, 70% {
        left: -300%;
    }

    80%, 90% {
        left: -400%;
    }

    100% {
        left: 0;
    }
}


body {
    margin: 0;
    font-family: Arial;
}

header {
    text-align: center;
    padding: 20px;
}

nav {
    background: #000;
    padding: 10px;
}

nav a {
    margin: 0 10px;
    text-decoration: none;
    color:#ffffff;
}
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            text-align: center;
        }
     
      
.category-container {
    display: flex;
   justify-content: centre;
   gap: 100px;
   margin: 40px 20px;
}


.category-block img {
    width: 100%;
    height: 300px;
    object-fit: contain;
    border-radius: 8px;
}

.category-block h2 {
    margin-top: 10px;
    color:rgba(22, 22, 22, 0.959);
}


.product-container {
   display: inline-block;
   justify-content: left;
   gap: 40px;
   margin: 40px 20px;
}

.product-container img {
            width: 30%;
            height: 350px;
            object-fit: contain;
            border-radius: 8px;
        }

.details-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #000;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  
}

</style>

    
